.allergene{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}



.box-ingredient-detail{
    display: flex;
}

.container-pizza-detail{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.detail-description{
    color: rgba(255,255,255,1);
    font-size: 14px;
    margin: 10px 5px
}

.info-pizza-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-detail{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.img-pizza{
    height: 250px;
    object-fit: cover;
}

.sub-title-detail{
    margin-top: 25px;
}

.sub-title-allergene{
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    border: 1px solid rgba(155, 49, 49, 1);
    padding: 10px;
    text-align: left;
}

th{
    background-color: rgba(155, 49, 49, 1);
}


/*Vue détail pizza*/

.title-detail{
    text-align: center;
    margin: 20px 0;
    color: rgba(155, 49, 49, 1);
}

.title-page{
    text-align: center;
    margin: 20px 0;
}

@media screen and (min-width: 768px){
      .container-pizza-detail{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      }  

      .box-img-detail{
        width: 40%;
        margin-top: 50px;
      }
}